@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&family=Taviraj:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Taviraj', serif;
    box-sizing: border-box;
}

/*Partials*/
@import './secciones/header';
@import './secciones/main';
@import './secciones/footer';



