/* Estilo Footer*/

.footer{
    grid-area: footer;
    border-top: 2px  rgb(226, 212, 218) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    /* gradientes */
    background-image: linear-gradient(to top,  rgb(237, 174, 201),rgb(226, 212, 218) );
        .textoChico{
            p{
                font-size: 15px;
                color: black;
                position: relative;
                top:60px;
            }
        }

        .imgRedes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 30px;
                img{
                    width: 30px;
                    margin-right: 20px;
                }
        }

}
           